/*.................CSS VARIABLES........*/
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background-color: #ccc;
  margin: 30px 50px;
  line-height: 1.4;
}

.btn {
  background-color: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

/* img {
  min-width: 100%;
} */

.portfolio img {
  width: 150px;
}

/*.................Wrapper........*/
.wrapper {
  display: grid;
  gap: 20px;
}

/*.................Navigation........*/
.main-nav ul {
  display: grid;
  gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
  background-color: var(--primary);
  text-decoration: none;
  display: block;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}

.main-nav a:hover {
  background-color: var(--dark);
  color: var(--light);
}

/*.................Top Container........*/
