:root {
  --white: #fff;
  --orange: #e8491d;
  --light-grey: #f4f4f4;
  --blue-grey: #35424a;
  --bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  background-color: var(--light-grey);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 15px;
  font-size: 1em;
} */

ul {
  list-style-type: none;
}

.container {
}
